*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Roboto', sans-serif;
}
main{
    background-image: url(../img/bgbody.png);
    background-position: 0px -200px;
}
main>div{
    background-color: white;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
    color:black;
    transition: .5s;
}
/* HEADER */
.header_login {
    padding:10px 0px;
    background-color: rgb(0, 73, 155);
}
.header_login div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header_login a{
    color: white;
    padding: 0px 10px;
}
.header_login a:first-child{
    border-right: 1px solid white;
}
.header_login a:last-child{
    background-color: rgb(221,188,94);
    border-radius: 10px;
    color:black;
    font-weight: bold;
}
.header_search{
    width: 100%;
    height:100px;
    background-image: url(../img/bghead.png);
    background-size: cover;
    display: flex;
    align-items: center;
}
.header_search .container-lg .row{
    display: flex;
    align-items: center;
}


.container-nav{
    max-width:1200px;
    margin:0 auto;
}
.header_search form input,.header_search form button{
    border:none;
    background-color:transparent ;
    padding: 5px 0px;
}
.header_search form{
    max-width:205px;
    background-color: white;
    position: relative;
    top:-20px;
    right:0px;
    margin: 0;
}
img.active{
    width: 11px;
    height: 11px;
    border-radius: 50%!important;
    background-color:tomato!important;
}
.header_search form input{
    padding-left: 10px;
}
.header_search form button{
    background-color: transparent;
    border-left: 1px solid gray;
    padding:0px;
    padding-left: 10px;
}
.form_contain{
    
    display: flex;
    justify-content: flex-end;
}

.header_search form input:focus{
    outline:none;
}
/* NAVBAR */
nav{
    box-shadow: 0px 7px 7px 0px rgba(128, 128, 128, 0.274);
    background-color:white;
    position: relative;
}
.fixed-menu{
    position: fixed;
    top:0%;
    left: 0;
    z-index: 500;
    width: 100%;
}
.fa-angle-down:before{
    margin-left: 5px;
}
nav>ul {
    align-items: center;
    list-style: none;
    justify-content:center;
    margin-bottom: 0px;
    padding-left: 19px;
}
nav>ul>li>a:hover,nav>ul>li>span:hover{
    color: rgb(0, 73,155);
    
}
nav>ul>li{
    margin:10px 0px; text-align: center;
    padding:0px 30px;
    border-right: 2px solid black;
    font-size: 15.28px;position: relative;
    overflow: hidden;
}
nav>ul>li>div{
    display: flex;
    cursor: pointer;
    font-weight: bold;
}
nav>ul>li:last-child{
    border: none;
}
nav>ul>li>span{
    font-weight: bold;
    cursor: pointer;
}
nav>ul>li:first-child{
    color:rgb(0, 73,155);
}
nav>ul>li>a{
    color:black;
    font-weight:bold;
}
.child_list{
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    list-style: none;
    width: 100%;
    padding-left:0px;
    text-align: left;
    background-color:white;
    z-index: 1000;
    transition: .5s;
    opacity: 0;

}
.mb-50{
    margin-bottom: 50px;
}
.child_list li:first-child{
    border-top: rgba(121, 121, 121, 0.486);
}
.child_list li{
    color:black;
    background-color:white;
    padding:10px 0px;
    padding-left:30px;
    transition: .5s;
    cursor: pointer;
}
.header_nav>ul>li:hover{
    overflow: visible;
}
.child_list li:hover{
    color:#003399;
    background-color:rgba(185, 185, 185, 0.24);
}
.header_nav>ul>li:hover .child_list{
    opacity: 1;
}
.child_list li::before{
    content:"";
    display: inline-block;
    height:15px;
    width: 0px;
    transition: .5s;
    overflow: hidden;
    margin-right: 0px;
}
.child_list li:hover::before{
    content:"";
    display: inline-block;
    height:15px;
    width: 3px;
    background-color: rgb(0, 73,155);
    margin-right: 13px;
}
    
.child_list:hover{
    height:auto;
    opacity: 1;
}

nav>ul>li::after{
    content: "";
    display:block;
    height: 3px;
    margin-top: 10px;
    position: absolute;
    background-color:rgb(0, 73,155);
    top:80%;
    width: 0%;
    transition:.5s;
    left: 0px;
}
nav>ul>li:hover::after{
    width:100%
}
/* IMG_INTRO */
.intro_img{
    padding: 26px 0px 30px 26px;
}
.intro_img>div{
    overflow: hidden;
}
.item{
    position: relative;
}
.carousel-control-next {
    right: -25px;
}
.carousel-control-prev {
    left: -25px;
}
.carousel-indicators button {
    width: 10px!important;
    height: 10px!important;
    background-color: white!important;
    border-radius:50%;
    margin:5px!important;
}
.carousel-indicators button.active{
    background-color:#cc9900!important;
}
.head_top{
    background-color: rgb(0, 73, 155);
    align-items:center;
    justify-content: space-between;
    padding: 5px 10px;
    margin-bottom:30px;
}
.head_top h2{
    color:rgb(255,213,100);
    text-transform:uppercase;
    font-size: 20px;
    font-weight:bold; ;
    margin: 0;
    padding:3px;
}
.head_top a{
    color:white;
    font-size: 16px ;
    transition:.5s;
}
.head_top a:hover{
    color: rgb(255,213,100);
}
.head_top a img{
    margin-left: 10px;
}
.baivietnoibat{
    padding-left: 26px;
    padding-bottom: 30px;
}
.baivietnoibat_mid h3{
    color:#003399;
    font-size: 18px;
    text-transform:uppercase;
}
.baivietnoibat_mid img{
    width: 100%;
}
.baivietnoibat_mid h3~span{
    text-align:justify;
}
.baivietnoibat_bottom>div{
    margin: 30px 0px 0px;
}
.baivietnoibat_bottom>div h4{
    margin-bottom: 5px;
    font-size:18px;
    color:rgb(0, 68, 146); 
}
.baivietmoi{
    padding-left: 26px;
    padding-bottom: 30px;
}
.baivietmoi img{
    color:black;
    font-weight: bold;
}
.baivietmoi_items{
    margin-bottom:50px;
}
.baivietmoi_items img{
    width: 100%;
}
.baivietmoi_items h5{
    margin: 8px 0px 8px;
    font-size: 16px;
}
.baivietmoi_items:first-of-type{
    padding-right: 7px;

}
.baivietmoi_items:nth-of-type(2){
    padding:0 7px;

}
.baivietmoi_items:nth-of-type(3){
    padding-left: 7px;
}
.baivietmoi_bottom img {
    width:100%;
}
.head_top2{
    align-items: center;
    justify-content:space-between;
    position: relative;
    margin-bottom: 20px;
}
.head_top2::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color:rgb(0, 68, 146); 
    top:100%;
    left: 0;

}
.head_top2 h2{
    display: inline-block;
    background-color:rgb(0, 68, 146); 
    margin-bottom: 0px;
    padding: 5px 10px;
    color: yellow;
    text-transform: uppercase;
    font-size: 23px ;
    font-size: 20px;
}
div.head_top2.d-flex > a > img{
    width: auto;
}
.head_top2 a{
    font-size: 20px;
    transition: all 0.5s;
    padding:0px 10px;
}
.head_top2 a:hover{
    background-color: yellow;
}
.head_top2 a img{
    margin-left: 10px;

}



.goctho{
    padding-left: 26px;
    padding-bottom: 30px;
}
.goctho img{
    width: 100%;
}
.goctho .row p:first-of-type{
    
    margin-top: 10px;
}
.goctho .row p{
    text-align: center;
}


.tintuc{
    padding-left: 26px;
    padding-bottom: 50px;
}
.tintuc img{
    width: 100%;
}
.tintuc h3{
    font-size:18px ;
    color: rgb(0, 68, 146); 
    margin-top: 10px;
    cursor: pointer;
}
.tintuc p{
    text-align: justify;
}
.tintuc_item > p{
    text-align: left;
    padding-top: 10px;
    font-weight:600 ;

}
.tintuc_item{
    margin-bottom: 15px;
}

/* NGUOI DOC VIET */
.nguoidocviet{
    padding-top:26px;
    padding-right: 26px;
    padding-bottom: 26px;
}
.nguoidocviet_mid img{
    width: 100%;
    margin-bottom: 10px;
} 
.nguoidocviet_mid h3 a{
    color:rgb(0, 68, 146); 
    font-size: 18px;
}   
.nguoidocviet_item {
    margin-bottom:10px;
}
body > main > div > aside > section.nguoidocviet > div.nguoidocviet_bottom > div > h5 > a{
    font-size:16px;
    font-weight: normal;
}
/* BAIVIETHAY */
.baiviethay,.phattrienbanthan{
    padding-right: 26px;
    padding-bottom: 26px;
}
.baiviethay ul,.phattrienbanthan ul{
    list-style-type: none;
    padding:0px;
}
.baiviethay ul img,.phattrienbanthan ul img{
    width: 50%;
    transform:translateX(15px)
}
.baiviethay ul li,.phattrienbanthan ul li{
    margin-bottom: 10px;
}
.baiviethay ul li a,.phattrienbanthan ul li a{
    color:rgb(0, 68, 146); 
}

/* PYTHAGO FORM */
.tracuusohoc{
    padding-right: 26px;
    padding-bottom: 26px;
}
.tracuusohoc h3{
    background-color:rgb(0, 68, 146); 
    font-size: 23px;
    text-align:center;
    color:rgba(217, 255, 0, 0.973);
    padding: 15px ;
    margin-bottom: 0px;
}
.tracuusohoc form{
    background-image: url(../img/pytagobg.png);
    padding: 10px;
}
.tracuusohoc form label{
    color: white;
    margin-bottom: 10px;
}
.tracuusohoc form>input{
    margin-bottom: 15px;
}
.tracuusohoc form>input:first-of-type{
    border-radius: 5px;
    width: 100%;
    padding:10px;
    border: none;
}
.tracuusohoc form>input:nth-of-type(2){
    border-radius: 5px;
    width: 60%;
    padding:10px;
    border: none;
}
.tracuusohoc form>select{
    border-radius: 5px;
    width: 38%;
    padding:10px;
}
.pythago_birth input{
    width: 100%;
    padding:10px;
}
.tracuusohoc button{
    width: 100%;
    background-color:rgb(223, 160, 7);
    border-radius: 5px;
    margin: 20px 0px;
    transition: .5s;
}
.tracuusohoc button:hover {
    background-color:rgb(0, 68, 146);
    color: rgb(223, 160, 7);
}
/* LICH AM DUONG */
.chuyendoilichamduong{
    padding-right: 26px;
    padding-bottom: 26px;
}
.chuyendoilichamduong h3{
    background-image: url(../img/gradient.png);
    font-size: 23px;
    text-align:center;
    color:rgb(0, 68, 146); 
    padding: 15px ;
    margin-bottom: 0px;
}
.chuyendoilichamduong form{
    background-image: url(../img/amduong.png);
    background-size: cover;
    padding:10px;
    background-position: center center;
} 
.chuyendoilichamduong input{
    width: 100%;
    border:1px solid rgb(0, 68, 146); 
}
.chuyendoilichamduong label{
    display: block;
    text-align: center;
    margin-bottom: 5px;
    color:rgb(0, 68, 146);
}
.chuyendoilichamduong select{
    border-radius: 0;
    color:red;
    border:1px  solid rgb(0, 68, 146); 
}
.chuyendoilichamduong button{
    background-color:rgb(196, 0, 0);
    border-radius:20px;
    color:yellow;
    display:block;
    margin: 20px auto;
    transition:.5s;
}
.chuyendoilichamduong button:hover{
    color:rgb(196, 0, 0);
    background-color:yellow ;
}
.youtube{
    padding-right: 26px;
    padding-bottom: 26px;
    
}
/* FOOTER */
.footer_info{
    background-image: url(../img/footerbg.png);
    background-size: cover;
    background-position: center;
    padding:20px 0px;
}
.footer_info i{
    color:rgb(223, 160, 7);
    margin-right: 5px;
}
.footer_info p{
    margin: 10px 0px;
}
.footer_info p a{
    color:white;
    font-style: italic;
    font-weight: 300;
}
.footer_info h5 a{
    color:rgb(223, 160, 7);
    text-decoration: underline rgba(223, 158, 7, 0.377) solid; 
    margin: 25px 10px;
    display: block;
}
.social img{
    margin-right: 10px;
}
.colum1 p{
    color:white; 
}
.colum1 p:nth-child(4),.colum1 p:nth-child(5),.colum1 p:nth-child(6){
    font-size: 12pt;
    font-style: italic;
    font-weight: 300;
}
.colum1 p:nth-child(4) i,.colum1 p:nth-child(5) i{
    color:white
}
.footer_bottom {
    background-color:rgb(223, 160, 7);
}
.menumobile {
    display: none;
}
.close_nav{
    display: none;
}
.contain-main{
    
    margin: 0 auto;
    max-width: 1233px;

      
}
body > main > div > div > aside > section.nguoidocviet > div.nguoidocviet_bottom > div> h5 > a{
    font-size: 16px;
}
@media (max-width:1399.99px) {
    .header_search form{
        display: block;
        height: 37px;
        
          
    }
    body > header > div.header_search > div > div > div.form_contain.col-sm-4 > form > button{
        margin: 0px
    }
}
@media (max-width:1224px) {
    body > header > div.header_search > div > div > div:nth-child(2) > img{
        margin-right:10px;
    }
    nav>ul>li::after{
        display: none;
    }
    nav>ul.d-flex{
        display: block !important;;
        height: 100vh;
        width: 200px;
        padding: 0px;
        position: fixed;
        z-index: 1000;
        top:0;
        left:0;
        background-color:white;
        margin: 0px;
        transition: .5s;
        justify-content:flex-start;
    }
    nav>ul>li{
        display: block;
        width: 100%;
    }
    .activemenu::after{
        content: "";
        display: none!important;
    }
    .close_nav{
        width: 100%;
        height: 50px;
        display: block;
        padding:10px 15px;
        text-align: right;
        background-color: #2d65d4;
        margin: 0;
        border: none;
        overflow: visible;
    }
    .transform{
        transform: translateX(-100%);
    }
    .close_nav i {
        font-size:30px;
        color:white;
        cursor: pointer;
    }
    nav>ul>li:not(nav>ul>li:first-child) {
        padding: 0px;
        margin:0;
        border: none;
        overflow: visible;
        text-align: left;
        padding:0 17px;
        margin-top:15px;
    }
    nav>ul>li>div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .fa-angle-down:before {
        margin-left: 0px;
    }
    nav>ul>li>div>div{
        width:30px;
        height: 30px;
        
        line-height:30px;
        text-align: center;
        border-radius:50%;
        transition: all 0.5s;
    }
    nav button,nav input{
        background-color: transparent;
        border:none;
    }
    nav input:focus{
        outline:none;
        padding-left: 20px;
    }
    nav form{
        padding:5px 0px;
        border:1px solid gray;
        visibility:hidden;
        opacity:0;
        transition: .5s;
    }
    .slideDown{
        background-color: rgba(128, 128, 128, 0.411);
        transform: rotate(180deg);
    }
    .menumobile{
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    .menumobile img{
        height:40px;
        visibility: hidden;
        opacity: 0;
        transition:.5s;
    }
    .fa-bars:before{
        padding: 5px;
        font-size:17px;
        cursor:pointer;
    }
    .child_list{
        transition: all 0s;
        position: relative;
        top: 0;
        left: 0;
        display: none;
        overflow:visible;
        opacity:1;
        margin-top:15px;
        text-align: left;
    }
    .child_list li{
    padding: 0px;
    padding-left: 10px;
    background-color:#2d65d434;
    margin: 3px;
    
    }
    .child_list li:hover{
        text-align: center;
    }
    .child_list li:hover::before{
        display: none;
    }
    .visible{
        opacity: 1!important;
        visibility: visible;
    }
    .baivietnoibat_mid h3{
        margin:10px 0px 10px;
    }
    
}
@media (max-width:991.98px){
    .baivietnoibat_mid h3{
        margin:10px 0px 10px;
    }
    body > main > div > div > article > section.tintuc > div.row > div.col-4.col-lg-6.d-none.d-sm-block > a > div > p{
        line-height:18px;
        padding-top:5px
    }
     
    .carousel-control-next{
        right:0px;
    }
    .carousel-control-prev{
        left:0px;
    }
}
@media (max-width:767.98px) {
    
    article,aside{
        background-color: white;
    }
    .text-justify{
        text-align: justify;
    }
    .intro_img{
        padding:15px 0px;
    }
    .baivietnoibat,.tracuusohoc,.chuyendoilichamduong,.youtube,.baivietmoi,.baiviethay,.goctho,.tintuc,.nguoidocviet,.baiviethay,.phattrienbanthan{
        padding-bottom: 15px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }
    .tintuc{
        padding-bottom: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .head_top,.head_top2{
        margin-bottom: 15px;
    }
    .baivietmoi_items{
        border-bottom: 1px solid rgba(128, 128, 128, 0.493);
    }
    .baivietmoi_items img{
        width: 100%;
        display:block;
    }
    .baivietmoi_items h5{
        font-size: 20px;
        margin: 10px 0px;
    }
    .goctho .row p:last-child{
        margin-bottom: 10px;
    }
    .tintuc h3{
        margin: 10px 0px;
    }
    .nguoidocviet_mid h3{
        margin-bottom: 10px;
    }
    .nguoidocviet_item{
        border-top: 1px solid rgba(128, 128, 128, 0.438);
        padding-top:10px;
    }
    iframe{
        height:400px;
    }
}
@media (max-width:575.98px) {
    body > header > div.header_search > div > div > div:nth-child(2) > img{
        display: none;
    }
    body > header > div.header_search > div > div > div:nth-child(1) > img{
        width: 20vw;
    }
    
    body > main > div > article > section.baivietnoibat > div.baivietnoibat_bottom > div > div.col-6.col-sm-9.col-lg-10 > a > span{
        display: none;
    }
    body > main > div > article > section.baivietmoi > div.baivietmoi_mid.row > div > a > h5{
        font-size: 7vw;
    }
    body > main > div > aside > section.nguoidocviet > div.nguoidocviet_bottom > div > h5 > a{
        font-size:4vw;
    }
    .baivietmoi_items{
        margin-bottom: 15px;
    }
    body > main > div > div > aside > section.nguoidocviet > div.nguoidocviet_bottom > div> h5 > a{
        font-size:16px;
    }
    body > main > div > div > aside > section.nguoidocviet > div.nguoidocviet_bottom > div> h5{
        padding-left: 0px;
        margin-top: 0px;
        text-align: justify;
    }
    #carouselExampleIndicators > button.carousel-control-next > img,#carouselExampleIndicators > button.carousel-control-prev > img{
        transform: scale(.6);
    }
    
}
.container-lg{
    max-width:1223px!important;
}
body > footer > div.footer_info > div > div > div:nth-child(4){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   

      